---
const { item } = Astro.props;

function getChecked(){
	var cookieValue = getCookieValue("setting" + item.id);
	if(cookieValue){
		return cookieValue;
	}else if(item.default === true){
		return true;
	}
		return false;

}

function getCookieValue(cookieName: string) {
 const cookie = Astro.cookies.get(cookieName);
 console.log(cookie);
 return cookie?.boolean;
}
---

<li class="settingsItem">
	<label class="inline-flex text-neutral-200 hover:brightness-125">
		<input id={"setting" + item.id} type="checkbox" class="m-1 w-6 h-6" checked={getChecked()} />
		<div class="m-1 my-auto">
			<img alt={item.name} src={item.icon} class="w-6 h-6" />
		</div>
		<div class="mx-1 my-auto text-sm">
			<h3>{item.name}</h3>
		</div>
	</label>
</li>

<script>
	const checkbox = document.querySelectorAll(".settingsItem input[type='checkbox']");
	checkbox.forEach((element) => {
		element.addEventListener("change", function(){
		let cookie = `${element.id}=${element.checked}; expires=${new Date(new Date().setFullYear(new Date().getFullYear() + 10)).toUTCString()}; path=/;`;
		document.cookie = cookie;
	});
	});
</script>